<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-head text-center">
          <h3 style="padding-top: 30px">Todos</h3>
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Filme 1 <a href="#">★</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 2 <a href="#">★</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 3 <a href="#">☆</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 4 <a href="#">☆</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 5 <a href="#">☆</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 6 <a href="#">☆</a> <a href="#">x</a>
                </li>
                <li class="list-group-item">
                  Filme 7 <a href="#">☆</a> <a href="#">x</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <h2>Adicionar Filme</h2>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label>Nome do Filme</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label>Categoria do filme</label>
          <select class="form-control">
            <option>Ação</option>
            <option>Aventura</option>
            <option>Comédia</option>
            <option>Terror</option>
          </select>
        </div>
        <buton class="btn btn-success">Adicionar</buton>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-head text-center">
          <h3 style="padding-top: 30px">Favoritos</h3>
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text" placeholder="Pesquisar...">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="form-control">
                <label>Agrupar por:</label>
                <select >
                  <option>Categoria</option>
                  <option>Inicial</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                  <a href="#">Ação (20)</a>
                  <ul class="col-12 card">
                    <li class="list-group-item">Filme 1 <a href="#">★</a> <a href="#">x</a></li>
                    <li class="list-group-item">Filme 2 <a href="#">★</a> <a href="#">x</a></li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a href="#">Aventura (5)</a>
                </li>
                <li class="list-group-item">
                  <a href="#">Comédia (4)</a>
                </li>
                <li class="list-group-item">
                  <a href="#">Terror (23)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
