default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  username: USERNAME
  password: PASSWORD

development:
  <<: *default
  database: movie_development

test:
  <<: *default
  database: movie_test
